<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/2.x/'>

	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d{yyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} - %m%n"/> 
		
	    </layout>
	</appender>

	<appender name="File" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH-mm'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p (%13F:%L) %3x - %m%n"/>
		</layout>
	</appender>


	<root>
		<level value="INFO" />
		
		<!-- Console Appender -->
		<appender-ref ref="Console" />
		
		<!-- File Appender -->
		<appender-ref ref="File" />
	</root>

</log4j:configuration>
